.card-title,
.card-review {
  color: var(--clr-accent);
}

.card-title {
  grid-column: 1 / -1;
  font-size: inherit;
  font-weight: 600;
  overflow: clip;
  text-overflow: ellipsis;
}

.card-review {
  grid-column: -1 / -1;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
